.title{
    text-align: center;
}

.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 25px;
    cursor: pointer;
}
#main{
    margin: auto;
    width: 500px;
    height: 500px;
    position: relative;
    background-color: burlywood;
}
#img{
    margin: 50px;
    position: absolute;
    
}



 #increase{

 }
 #decrement{
     
 }